node_modules
dist

.git
.gitignore

portal.sqlite
portal.sqlite-wal
portal.sqlite-shm
*.sqlite
*.sqlite-wal
*.sqlite-shm

.env
.env.*

openspec
.claude
.opencode

README.local.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
